# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea

# Local System Files (i.e. cache, logs, etc.) #
/administrator/cache
/cache
/logs
/tmp
/configuration.php
/.htaccess
/web.config

# Test Related Files #
/phpunit.xml
/tests/system/webdriver/tests/logs/
/tests/system/servers/configdef.php

# phpDocumentor Logs #
phpdoc-*

# Patch Tester
administrator/components/com_patchtester/
administrator/templates/hathor/html/com_patchtester
components/com_patchtester/
# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# PHPStorm
.idea/

# Eclipse
.buildpath
.project
.settings

# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~

# Phing build script
build.properties

# Never ignore
!.gitignore
!index.html
!index.php

# Joomla
*.dat
*.jpa
*.zip
administrator/cache/*
cache/*
logs/*
tmp/*
design/*
components/com_sh404sef/cache/*
components/com_redshop/assets/images/*/thumb/*
templates/*/css/style.css
templates/*/css/style-responsive.css