.redslider {
   /* background: url("../images/box-shadow.png") repeat scroll 0 0 transparent;*/
    /*border: 5px solid #FFFFFF;
    box-shadow: 0 1px 4px #D0D0D0;*/
    color: #000;
    font-family: arial,sans-serif;
}
.redslider p{
    font-size: 14px;
}
.bx-wrapper{
    position: relative;
}

.bx-wrapper .bx-prev {
    background: url("../images/pre.png") no-repeat scroll 0 0 transparent;
    left: -11px;
}
.bx-wrapper .bx-next {
    background: url("../images/next.png") no-repeat scroll 0 0 transparent;
    right: -11px;
}
.bxslider > div {
    border: 5px solid #FFFFFF;
}
.bxslider li{
    background: url("../images/bg-shop.png") repeat;
}
.bxslider  form {
    margin: 0;
}
.bxslider img {

}

/*.bx-wrapper .bx-controls-direction a {
    height: 38px;
    margin-top: -16px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 19px;
    z-index: 9999;
}*/

.bx-wrapper .caption-description {
    display: none ;
}

.bx-wrapper ul{
    margin: 0;
    padding: 0;
}

.caption-description > h1 {
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 16px;
    margin-top: 10px;
}

.caption-description p{
    color: #DCDCDC;
    font-size: 12.5px;
    line-height: 16px;
    margin: 0 0 10px;
}
.bx-pager-link, .bx-pager-link:hover {
    background: url("../images/circle.png") no-repeat scroll center center transparent;
    color: transparent !important;
    font-size: 11px;
    padding: 2px;
    width: 20px !important;
}

.bx-pager-link.active, .bx-pager-link.active:hover{
    background: url("../images/circle_active.png") no-repeat scroll center center transparent;
    padding: 0 2px;
}
.bx-pager.bx-default-pager {
    bottom: 2%;
    position: absolute;
    right: 10px;
    z-index: 9999999;
}
.bx-pager-item {
    float: left;
    margin-right: 5px;
}
.product-content table table {
    width: 82%;
}
.product_attribute {
    margin-bottom: 10px;
}
.product-content select {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    padding: 6px 4px 5px;
    width: 56% !important;
}
.addtocart .addtocart-button{
    background: url("../images/bg-button.png") repeat-x scroll 0 0 transparent;
    border-color: #637700;
    border-radius: 5px 5px 5px 5px;
    border-style: none solid;
    border-width: 0 1px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    height: 49px;
    padding: 0 20px 0px;
    width: auto !important;
}
.addtocart .product-quantity {
    border: 1px solid #999999 !important;
    border-radius: 3px 3px 3px 3px;
    height: 49px;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0 20px;
    text-align: center;
    width: 54px !important
}