.redslider {
   /* background: url("../images/box-shadow.png") repeat scroll 0 0 transparent;*/
    /*border: 5px solid #FFFFFF;
    box-shadow: 0 1px 4px #D0D0D0;*/
    color: #FFFFFF;
    font-family: arial,sans-serif;
}

.bx-wrapper{
    position: relative;
}

.bx-wrapper .bx-prev {
    /*background: url("../images/pre.png") no-repeat scroll 0 0 transparent;*/
    /*left: 10px;*/
}

.bx-wrapper .bx-next {
     /*background: url("../images/next.png") no-repeat scroll 0 0 transparent;*/
     /*right: 20px;*/
 }

.bxslider > div {
    border: 5px solid #FFFFFF;
}

.bxslider img {
    width: 100%;
}

/*.bx-wrapper .bx-controls-direction a {
    height: 38px;
    margin-top: -16px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 19px;
    *//*z-index: 9999;*//*
}*/

.bx-wrapper .caption-description {
    background: url("../images/bg-caption.png") repeat scroll 0 0 transparent;
    height: 100%;
    position: absolute;
    padding: 10px 15px 10px 20px;
    right: 0;
    top: 0;
    width: 22%;
}
.bx-wrapper ul{
    margin: 0;
}

.caption-description > h1 {
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 16px;
    margin-top: 10px;
}

.caption-description p{
    color: #DCDCDC;
    font-size: 12.5px;
    line-height: 16px;
    margin: 0 0 10px;
}
.bx-pager-link, .bx-pager-link:hover {
    background: url("../images/circle.png") no-repeat scroll center center transparent;
    color: transparent !important;
    font-size: 11px;
    padding: 2px;
    width: 20px !important;
}

.bx-pager-link.active, .bx-pager-link.active:hover{
    background: url("../images/circle_active.png") no-repeat scroll center center transparent;
    padding: 0 2px;
}
.bx-pager.bx-default-pager {
    bottom: 3%;
    position: absolute;
    z-index: 9999999;
}
.bx-pager-item {
    float: left;
    /*margin-right: 5px;*/
}