.icon-48-galleries {
      background-image: url(../images/galleries-48.png);
      padding-left:60px!important;
}

.icon-48-slides {
      background-image: url(../images/slides-48.png);
      padding-left:60px!important;
}